<div class='top-page'>
  <%= render "shared/header"%>

  <div class='top-page-content'>
    <h2 class='top-page-title'>WE'll Make Your Drem</h2>
    <p>自分の夢や目標を叶えてみませんか？勇気を出して一歩踏み出そう</p>
    <%= link_to 'カレンダー作成', '#', class: 'calender-btn'%>
  </div>
</div>